.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFAD6C;
    width: 250px;
    height: 500px;
    border-radius: 5px;
    box-shadow: -3px 4px 7px #FF9671;
    padding: 50px;
}